/* Общие стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #1e1e1e;
    margin: 0;
    padding: 0;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden; /* Убираем горизонтальную прокрутку */
}

a {
    text-decoration: none;
    color: #61dafb;
}

a:hover {
    text-decoration: underline;
}

/* Фон */
body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../images/fone.jpg') no-repeat center center/cover;
    opacity: 0.8;
    z-index: -1;
}

/* Панель навигации */
.panel {
    background-color: rgba(30, 30, 30, 0.9);
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 0;
}

.panel a {
    padding: 10px 20px;
    color: #ffffff;
    border: 2px solid #61dafb;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

.panel a:hover {
    background-color: #61dafb;
    border-color: #ffffff;
}

/* Контент */
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;
    width: 100%;
    box-sizing: border-box;
}

.item {
    background-color: rgba(85, 85, 85, 0.9);
    border: 2px solid rgba(213, 128, 0, 0.376);
    border-radius: 10px;
    padding: 20px;
    flex: 1 1 calc(33% - 40px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    min-width: 280px; /* Уменьшена минимальная ширина */
}

h2 {
    color: #ffbc35;
    font-size: 1.5em;
    margin-bottom: 10px;
}

p {
    font-size: 1em;
    color: #ccc;
}

/* Нижняя панель сайта */
.back-panel {
    background-color: rgba(30, 30, 30, 0.9);
    padding: 10px 20px;
    text-align: center;
    color: #ffffff;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.5);
    width: 100%;
    z-index: 1;
    margin-top: auto;
}

/* Адаптивность */
@media (max-width: 768px) {
    .panel {
        padding: 5px 0; /* Уменьшены отступы сверху и снизу */
        gap: 10px;
    }

    .panel a {
        padding: 8px 15px;
    }

    .content {
        padding: 10px;
        overflow-x: hidden; /* Убираем горизонтальную прокрутку */
    }

    .item {
        margin-left: 0;
        margin-right: 0;
        flex: 1 1 100%;
    }
}